extends layout

//- block link
//-     -var active = 'Login';

block content
    header(class='p-2 text-center')
        a(href="/", class='a-header')
            img(src="../images/flame.png", alt="Logo")
            h1= "FuelFinder"
            p Gas Stations and Prices
        
    main(class='container')
        form(method="POST" action='/auth/login' id='loginForm')
            if login_error
                div(class='alert alert-danger' role='alert')= login_error
            div(class='form-group')
                label(for='username') Username
                input.form-control(type='text'  class=(typeof username_error === "undefined" ? "" : "is-invalid") id='username' name='username' placeholder='username' required)
                div(class='invalid-feedback' id='usernameFeedback')= username_error
            div(class='form-group')
                label(for='pwd') Password
                input.form-control(type='password' class=(typeof password_error === "undefined" ? "" : "is-invalid") id='pwd' name='pwd' placeholder='password' required)
                div(class='invalid-feedback' id='passwordFeedback')= password_error
            div(class='column')
                div
                    button(type='submit' formaction='/auth/login' class='btn btn-block btn-primary' id='login') Login

        form(method="GET" action='/auth/create-account' id='newAccountBtn')
            div(class='column')
                div
                    button(type='submit' formaction='/auth/create-account' class='btn btn-block btn-outline-secondary' id="register") Create New Account
