extends layout 


block content
  header(class='p-2 text-center')
    a(href="/", class='a-header') 
      img(src="images/flame.png", alt="Logo")
      h1= "FuelFinder"
      p Gas Stations and Prices

  nav(id='navbar') 
    a(href="/auth/login", class='navbtn') Login 
    //- needs to be hidden unless logged in. Some kind of if statement needs to be used to check if logged in.
    a(href="", class='navbtn') Logout 
    //-------------------------------------------
    a(href="/auth/create-account", class='navbtn') Create an Account
    a(href="/", class='navbtn') Home
    //- These need to be hidden unless logged in
    a(href="", class='navbtn') Profile
    a(href="/create-station", class='navbtn') Add a Station
    //-------------------------------------------

  main 
    div(class='center')
      h2 Gas Stations 
      div
      ul 
        each station in stations 
          li= station.address
          

      
        //- div.row
        //-   div.col-sm-6.text-left.text-muted= station.address
        //-   div.col-sm-6.text-left.text-muted= station.brand
        //-   div.col-sm-6.text-left.text-muted= station.regular
        //- ul(class='list-group')
        //-   li(class='list-group-item')
        //-     p station.address 
        //-     button Price and Location
