extends layout 


block content
  header(class='p-2 text-center')
    a(href="/", class='a-header') 
      img(src="images/flame.png", alt="Logo")
      h1= "FuelFinder"
      p Gas Stations and Prices

  nav(id='navbar') 
    a(href="http://localhost:3000/auth/login", class='navbtn') Login 
    a(href="", class='navbtn') Create an Account

  main 
    div(class='center')
      h2 Gas Stations 
      div
        ul(class='list-group')
          li(class='list-group-item')
            p Station Name 
            button Price and Location
